<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<style>
  body {
    background-size: 600px 700px;
    background-image: url("images/wallpaper1.png");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
  }
</style>

<body>
<div class="container">
  <h1>Welcome to SAILS<br/>Smart Integrated Lending System</h1>
  <img src="images/p2p_LendingPlatform.png" width="60%">
  <br/><br/>
  <h2>I'm ...</h2>
  <a href="/Funding" target="_blank"><img src="images/Lender.png" width="200px" ></a>&nbsp;&nbsp;&nbsp;
  <a href="/LoanRequest" target="_blank"><img src="images/Borrower.png" width="200px" ></a>
</div>
</body>
</html>

