<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

</head>
<style>
    body {
        background-size: 600px 700px;
        background-image: url("images/wallpaper1.png");
        background-repeat: no-repeat;
        background-position: right top;
        margin-right: 200px;
    }
</style>
<body>
<div class="container">

    <h1>Smart Integrated Lending System</h1>
    <h1>(SAILS)</h1>

    <h2 id="SBAPOOL"></h2>

    <img id="loader" src="https://loading.io/spinners/double-ring/lg.double-ring-spinner.gif">

    <form method="POST" action="/register">

    <label for="name" class="col-lg-2 control-label">User Role</label>
    <select id="role" name="role">
        <option value="1">Borrower</option>
        <option value="2">Investor</option>
    </select>

    <label for="name" class="col-lg-2 control-label">User Name</label>
        <input id="username" type="text" name="username">

        <label class="col-lg-2 control-label" for="name">Consortium Account</label>
        <input id="sba_address" type="text" name="sba_address">

        <label class="col-lg-2 control-label" for="name">Sender Address</label>
        <input id="sender_address" type="text" name="sender_address">

        <label class="col-lg-2 control-label" for="name">Borrower Address</label>
        <input id="borrower_address" type="text" name="borrower_address">

        <label class="col-lg-2 control-label" for="name">Amount (Ether)</label>
        <input id="amount" type="text" name="amount">

        <input type="submit" value="Transfer">

    </form>

</div>

&lt;!&ndash;<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"></script>
<script src="https://cdn.jsdelivr.net/npm/truffle-contract@4.0.23/dist/truffle-contract.js"></script>&ndash;&gt;


</body>

</html>-->
